@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

:root {
  --primary-color: #1f2937;
  --scndary-color: #f9faf8;
  --tert-color: #e5e7eb;
  --btn-color: #3882f6;
  --photo-color: #6d747d;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

header {
  background-color: var(--primary-color);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem 2rem 2rem;
  margin-bottom: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--scndary-color);
}

.nav_logo {
  text-decoration: none;
  font-size: 24px;
  color: var(--scndary-color);
}

.nav_links {
  font-size: 18px;
}

.nav_links ul {
  display: flex;
  gap: 2rem;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 0rem 2rem 7rem 2rem;
  font-size: 18px;
  color: var(--tert-color);
  font-weight: 400;
}

.hero_left h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--scndary-color);
  margin-bottom: 1rem;
  line-height: 3rem;
}

.hero_left p {
  letter-spacing: 0.5px;
}

.hero_right {
  background-color: var(--photo-color);
  color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_left,
.hero_right {
  width: 400px;
}

.hero-btn {
  background-color: var(--btn-color);
  color: var(--scndary-color);
  padding: 0.3rem 1.2rem 0.4rem;
  border-radius: 5px;
  text-align: center;
  border-style: none;
  margin-top: 0.6rem;
  transition: 0.3s all;
  cursor: pointer;
}

.hero-btn:hover {
  transform: scale(1.1);
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem 7rem;
}

.features h2 {
  font-weight: 900;
  font-size: 36px;
  color: var(--primary-color);
}

.features_pictures {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.features_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 0.5rem;
}

.features_box p {
  text-align: center;
}

.features-img {
  border: 2.5px solid var(--btn-color);
  border-radius: 9px;
  height: 115px;
  width: 125px;
}

.quote {
  background-color: var(--tert-color);
  padding: 6rem 8rem 6rem;
}

.quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: var(--primary-color);
  width: 54%;
}

.quote-signature {
  font-size: 18px;
  font-weight: 900;
  color: var(--primary-color);
  text-align: right;
  position: absolute;
  right: 30rem;
}

footer {
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box {
  background-color: var(--btn-color);
  padding: 2.3rem 8rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  gap: 12rem;
  color: var(--scndary-color);
}

.footer-title {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.footer-subtext {
  font-weight: 400;
  font-size: 14px;
  color: var(--tert-color);
}

.footer-btn {
  border: 2px solid var(--scndary-color);
  border-radius: 6px;
  background-color: var(--btn-color);
  color: var(--scndary-color);
  padding: 0.1rem 2rem 0.1rem;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: var(--scndary-color);
  color: var(--btn-color);
  border: 2px solid var(--btn-color);
}
